.titlebar {
  z-index: 55 !important;
  user-select: none;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  pointer-events: auto !important;
}
.titlebar-button {
  display: grid;
  place-content: center;
  width: 46px;
  /* cursor: pointer; */
}



button {
  cursor: pointer;
}

#openSidebarBtn {
  display: grid;
  place-content: center;
}

#openSidebarBtn > svg {
  scale: 1.55;
}

main {
  scrollbar-width: none;
}

.jason-item {
  position: relative;

  transform-origin: left;
  animation-name: none; /** Enable the spawn animation -> 'spawn' */
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}


.file-type-msg {
  text-align: center;
  text-wrap: pretty;
  font-style: italic;
  font-size: 0.8rem;
  color: var(--muted-foreground);
  width: 100%;
  padding: 0.3rem;
  display: grid;
  place-items: center;
  border: solid 1px var(--border);
  position: relative;
  border-radius: var(--radius);
}

.sidebar-content > button{
  animation: spawn 325ms linear;
}


@keyframes spawn {
  from {
    opacity: 0;
  }
}


.jason2container {
  scrollbar-width: none;
}
