button {
  cursor: pointer;
}


#open-sidebar-btn {
  display: grid;
  place-content: center;
}

#open-sidebar-btn > svg{
  scale: 1.55;
}


main {
  scrollbar-width: none;
  overflow: auto;
}


.jason-item {
  word-wrap: break-word;
}

.jason-item > * {
  transition: scale 0.2s ease-out;
}

.jason-item:hover > * {
  scale: 0.97;
}