*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, sans-serif;

  /* * TODO Delete this */
  color-scheme: dark;
}

body {
  background: #212121;
  height: 100vh;
  height: 100svh;
  
}


#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}